* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside{
  position: fixed;
  border-right: 1px solid rgba(0, 173, 238, 0.4);
  height: 100%;
  width: 200px;
  margin: center;
}

aside > img{
 height: 120px;
 margin: auto;
 display: block;
}

main{
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

aside > nav > ul > li {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 173, 238, 0.4);
  width: 90%;
  list-style: none;
  margin: auto;
  padding-bottom: 5px;
}

aside > nav > ul > li:first-child {
  text-decoration: underline;
}

aside > nav > ul > li > a {
  font-weight: bold;
  color: #00ADEE;
  text-decoration: none;
}

header > img {
  height: 100px;
  margin-bottom: 1px;
}

main > img {
  width: 100%;
}

section > div{
  width: 30%;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 5px;

}

section > div > h2{
  color: #8CC36F;
}

section > div > h2> i {
  margin-right: 10px;
}

section > div#what-we-do, section > div#our-work {
  border-right: 1px solid rgba(170, 239, 135, 0.8);
}

